<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>To-Do List</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Rememberly</a></li>
            <li><a href="/todo">Todos</a></li>
            <li><a class="logInOut" href="/auth/login">Login</a></li>
        </ul>
    </nav>
    <header id="homeHeader">
        <div class="circles yCircle">

        </div>
        <div class="circles pCircle">

        </div>
        <div id="headerTitle">
            <h1>Rememberly</h1>
            <p>Never forget what you have in mind...</p>
            <a href="auth/login"><button>Join Now</button></a>
        </div>
    </header>
    <section id="aboutApp">
        <div id="demo">
            <h1>The best place<br> to leave your thoughts</h1>
            <p>Dont worry about remembering all your ideas, things to-do because with Rememberly all those problems are
                resolve</p>
        </div>
        <div id="shopping">
            <div>
                <img src="/images/undraw_Add_notes_re_ln36.svg" alt="">
            </div>
        </div>
    </section>

</body>

</html>