<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>To-Do List</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/todo">Todos</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
    <header id="homeHeader">
        <div id="headerTitle">
            <h1>Rememberly</h1>
            <p>Never forget what you have in mind...</p>
            <a href="auth/login"><button>Join Now</button></a>
        </div>
    </header>
    <section id="aboutApp">
        <h1>The best place to leave your thoughts</h1>
        <div id="demo">
            <div id="shopping">
                <div id="shopList">
                    <p>Shopping List</p>
                    <ul>
                        <li>water</li>
                        <li>Sugar</li>
                        <li>Chicken</li>
                        <li>Cheese</li>
                    </ul>
                </div>
                <div id="todays">
                    <p>Todays To-Do List</p>
                    <ul>
                        <li>Pick up John</li>
                        <li>Pay the car</li>
                        <li>Buy medicine</li>
                        <li>Call Karen</li>
                    </ul>
                </div>
            </div>
            <div>
                <img src="/images/undraw_Add_notes_re_ln36.svg" alt="">
            </div>
        </div>
    </section>

</body>

</html>