body, html{
    background-color: #ffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
nav{
    position: absolute;
    height: 50px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
}

nav a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    transition: background-color 300ms;
}
nav a:hover{
    background-color: #ffffff;
}
.circles{
    border-radius: 50%;
}

#homeHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    background: rgb(255,231,106);
    background: linear-gradient(96deg, rgba(255,231,106,1) 0%, rgba(255,177,177,1) 100%);
}
.pCircle{
    position: absolute;
    background-color: #FFB1B1;
    opacity: 0.4;
    width: 500px;
    height: 500px;
    left: 35%;
    top: 20%;
}
.yCircle{
    position: absolute;
    background-color: #FFE03C;
    opacity: 0.4;
    width: 612px;
    height: 612px;
    right: 35%;
    bottom: 30%;
}

#headerTitle{
    text-align: center;
    align-self: center;
    z-index: 1;
}
#headerTitle h1{
    font-size: 5.5rem;
    font-weight: 300;
    margin: 0;
}
#headerTitle p{
    margin-top: 10px;
    font-size: 1.5rem;
}
#headerTitle button{
    background-color: #ffffff;
    font-size: 1.3rem;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    transition: background-color 300ms;
}
#headerTitle button:hover{
    cursor: pointer;
    background-color: #eeaba0;
}
#aboutApp{
    text-align: center;
    padding: 150px;
    font-size: 2rem;
    font-weight: 300;
}

#demo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#demo h1{
    margin: 100px;
    font-size: 5rem;
    margin-top: 0;
    text-decoration: underline #ffb7ab;
    padding-top: 40px;
    color: #ffff;
}
#demo p{
    color: #ffff;
    width: 70%;
    justify-self: center;
}
#shopping{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}
#todays{
    background-color: #ffffff;
}
#shopping ul{
    padding-left: 0;
    list-style: none;
}