body, html{
    background-color: #ffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
nav{
    position: absolute;
    height: 50px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
}

nav a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    transition: background-color 300ms;
}
nav a:hover{
    background-color: #ffffff;
}
.circles{
    border-radius: 50%;
}

#homeHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    background: rgb(255,231,106);
    background: linear-gradient(96deg, rgba(255,231,106,1) 0%, rgba(255,177,177,1) 100%);
}
.pCircle{
    position: absolute;
    background-color: #FFB1B1;
    opacity: 0.4;
    width: 500px;
    height: 500px;
    left: 35%;
    top: 20%;
    margin-left: -30px;
    margin-top: -20px;
}
.yCircle{
    position: absolute;
    background-color: #FFE03C;
    opacity: 0.4;
    width: 612px;
    height: 612px;
    right: 35%;
    bottom: 30%;
    margin-bottom: -150px;
    margin-right: -150px;
}

#headerTitle{
    text-align: center;
    align-self: center;
    z-index: 1;
}
#headerTitle h1{
    font-size: 5.5rem;
    font-weight: 300;
    margin: 0;
}
#headerTitle p{
    margin-top: 10px;
    font-size: 1.5rem;
}
#headerTitle button{
    background-color: #ffffff;
    font-size: 1.3rem;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    transition: background-color 300ms;
}
#headerTitle button:hover{
    cursor: pointer;
    background-color: #eeaba0;
}
#aboutApp{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#aboutTitle{
    font-size: 4.5rem;
    z-index: 1;
}
#aboutInfo{
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
}
.pCircle2{
    position: absolute;
    background-color: #FFB1B1;
    opacity: 0.5;
    width: 500px;
    height: 500px;
    left: 35%;
    top: 10%;
    margin-left: -30px;
    margin-top: -10px;
}
.yCircle2{
    position: absolute;
    background-color: #FFE03C;
    opacity: 0.5;
    width: 612px;
    height: 612px;
    right: 35%;
    bottom: 45%;
    margin-bottom: -160px;
    margin-right: -150px;
}
#notes{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#cardCont{
    position: relative;
}
#notes h1{
    grid-column: 1/3;
    justify-self: center;
    font-size: 4rem;
}
#notes img{
    justify-self: center;
}
.cards{
    width: 300px;
    height: 350px;
    border-radius: 15px;
}
.cards p{
    padding-left: 10px;
}
.notes1{
    position: absolute;
    background-color: #FFB1B1;
    top: 2%;
    right: 50%;
    margin-right: -150px;
}

.notes2{
    position: absolute;
    background-color: #f6de63;
    right: 50%;
    bottom: 50%;
    margin-right: -150px;
}

.notes3{
    position: absolute;
    background-color: #FFB1B1;
    bottom: 30%;
    right: 50%;
    margin-right: -150px;
}
